@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="row" style="margin: 0;
        font-size: 1.2rem;
        font-weight: 400;
        color: #134b40;">
    <div class="col-md-6">
        <p>Contul tau contine date personale oferite de tine. Aici poti sa descarci datele personale sau sa le stergi.</p>
        <p>
            <strong>Stergand datele, contul tau va fi sters si nu va putea fi recuperat.</strong>
        </p>
        <div class="row" style="margin:5% 0 0 0;">
            <form style="margin:0 5% 0 0" id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
                <button class="btn btn-primary" type="submit">Descarca</button>
            </form>
            <p style="margin:0;">
                <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Sterge</a>
            </p>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}