@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "Index";
}
    <div style="text-align: center;">
        <h3 style="margin-bottom: 3%;">Lista rolurilor</h3>
        <a style="margin-bottom:3%;" asp-action="Create" class="btn btn-primary">Creeaza un rol</a>

        <table class="table" style="font-size: 1.5rem; font-weight: 400; color: #134b40; border-color: #1f6c5d; border-width: 2px;">
            <thead class="thead-dark">
                <tr><th>Id</th><th>Nume</th><th>Modifica</th><th>Sterge</th></tr>
            </thead>
            @foreach (var role in Model)
            {
                <tr>
                    <td>@role.Id</td>
                    <td>@role.Name</td>
                    <td><a class="btn btn-sm btn-primary" asp-action="Update" asp-route-id="@role.Id">Modifica</a></td>
                    <td>
                        <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                            <button type="submit" class="btn btn-sm btn-danger">
                                Sterge
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </table>
    </div>

<style>
    .table {
        font-size: 1.5rem;
        font-weight: 400;
        color: #134b40;
        border-color: #1f6c5d;
        border-width: 2px;
        box-shadow: 0px 0px 5px 0px #1f6c5d;
    }

    .table-bordered {
        border: 2px solid #1f6c5d;
    }

    .table-bordered th{
        border: 2px solid #1f6c5d;
    }

    .table-bordered td {
        border: 2px solid #1f6c5d;
    }
</style>